
h2 {
    margin: 1em 0 0.2em 0;
}

hr {
    margin: 0 1em 0.75em 0;
}

.caps {
    font-variant: normal;
}

h2 .caps {
    font-variant: small-caps;
}

h4.employer {
    font-style: italic;
    margin: 0.4em 0 0.5em 0;
}

ol, ul, li {
    margin-left: 0.75em;
    padding-left: 0.5em;
}

p {
    margin: 0;
}

table.contact {
    width: 100%;
    margin-bottom: 1em;
}

table.jobtitle {
    width: 100%;

}

table.jobtitle th, table.jobtitle td {
    padding: 0;
}

table.jobtitle td.jobtitle {
    font-size: 1.25em;
    text-align: left;
}

table.jobtitle td.date {
    font-size: 1.15em;
    text-align: right;
}

table.education {
    width: 100%;
}

table.education td.degree {
    font-weight: bold;
}

table.education td.institution {

}

table.languages {
    width: 50%;
}
