
.content h2 {
    margin: 1em 0 0.2em 0;
}

.content hr {
    margin: 0 1em 0.75em 0;
}

.content .caps {
    font-variant: normal;
}

.content h2 .caps {
    font-variant: small-caps;
}

.content .jobtitle {
    float: left;
}

.content .period_location {
    float: right;
    font-size: 1.1em;
    margin-bottom: 0.5em;
}

.content .period_location .period {
    margin-bottom: 0.2em;
}

.content .responsibilities {
    clear: both;
}

.content .jobtitle {
    margin-bottom: 0.5em;
}

.content .jobtitle h3 {
    margin-bottom: 0.2em;
}

.content .employer {
    text-decoration: none;
    font-size: 1.05em;
    margin: 0.4em 0 0.5em 0;
}

.content ol, .content ul, .content li {
    margin-left: 0.75em;
    padding-left: 0.5em;
}

.content p {
    margin: 0;
}

.content .social ul {
    padding-left: 15px;
}

.content .social li {
    padding-left: 0;
}

.content table.contact th {
    width: 25%;
}

.content table.education {
    width: 100%;
}

.content table.education td.degree {
    font-weight: bold;
}

.content table.education td.institution {

}

.content table.languages {
    width: 50%;
}

.content table.skills {
    margin: 0 0 1em 0;
}

.content table.skills .skill {
    width: 150px;
}

.content table.skills .experience {
    width: 50px;
    text-align: center;
}
