
.content h2 {
    margin: 1em 0 0.2em 0;
}

.content hr {
    margin: 0 1em 0.75em 0;
}

.content .caps {
    font-variant: normal;
}

.content h2 .caps {
    font-variant: small-caps;
}

.content h4.employer {
    font-style: italic;
    margin: 0.4em 0 0.5em 0;
}

.content ol, .content ul, .content li {
    margin-left: 0.75em;
    padding-left: 0.5em;
}

.content p {
    margin: 0;
}

.content .social ul {
    padding-left: 15px;
}

.content .social li {
    padding-left: 0;
}

.content table.contact {
    width: 100%;
    margin-bottom: 1em;
}

.content table.jobtitle {
    width: 100%;

}

.content table.jobtitle th, .content table.jobtitle td {
    padding: 0;
}

.content table.jobtitle td.jobtitle {
    font-size: 1.25em;
    text-align: left;
}

.content table.jobtitle td.date {
    font-size: 1.15em;
    text-align: right;
}

.content table.education {
    width: 100%;
}

.content table.education td.degree {
    font-weight: bold;
}

.content table.education td.institution {

}

.content table.languages {
    width: 50%;
}
